body {background-color: rgb(5, 2, 26);}
h1 {color: snow;
text-align: center;
font-size: 300%;
font-family: Arial;
border-color: bisque;
border-style: outset;
border-width: medium;
margin-left: 30%;
margin-right: 30%;}
h2 {color: snow;
    text-align: center;
    font-size: 300%;
    font-family: Arial;
    border-color: bisque;
    border-style: outset;
    border-width: medium;
    margin-left: 20%;
    margin-right: 20%;}
h2 {color: snow;
    text-align: center;
    font-size: 300%;
    font-family: Arial;
    border-color: bisque;
    border-style: outset;
    border-width: medium;
    margin-left: 40%;
    margin-right: 40%;}
h3 {color: snow;
    text-align: center;
    font-size: 300%;
    font-family: Arial;
    border-color: bisque;
    border-style: outset;
    border-width: medium;
    margin-left: 35%;
    margin-right: 35%;}        